/*  commons  */

.header {
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 50vw;
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.591); */
  /* top: 20vw; */
  padding-top: 12.3vw;
}

.line1 {
  color: white;
  font-size: 1.2vw;
  font-weight: 300;
}

.alignCenter {
  text-align: center;
}

.head1 {
  font-size: 5vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.head2 {
  font-size: 1.4vw;
  font-weight: 700;
  color: black;
}

.normal {
  font-weight: 300;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  background-color: white;
  width: 99vw;
  height: auto;
  align-items: center;
}

/*  cards specific */
.bloglgCard {
  display: flex;
  gap: 2vw;
  align-self: center;
  /* background-color: red; */
  background-color: var(--button-color);
  width: 82.7%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  align-items: center;
}

.postItem {
  flex-direction: column;
  display: flex;
  gap: 2vw;
  align-self: center;
  width: 80vw;
  height: auto;
  margin-bottom: 1vw;
}

.featuredContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn {
  color: black;
  font-weight: 700;
  font-size: 1vw;
  border-bottom: 0.2vw solid #9b86fe;
}

.btnPrimary {
  color: white;
  border: 0.15vw solid black;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 0.7vw;
  font-weight: bold;
  width: 10vw;
  font-size: 1vw;
}

.serviceText1 {
  font-size: 1.1vw;
  color: rgb(0, 0, 0);
  line-height: 1.8vw;
}
.serviceText2 {
  font-size: 0.98vw;
  color: rgb(0, 0, 0);
  line-height: 1.8vw;
}

.postsContainer {
  margin-bottom: 5vw;
  width: 80vw;
  justify-content: flex-start;
  display: flex;
  gap: 4vw;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 5vw;
}

.storyImage {
  width: 35vw;
  height: auto;
}

.StoryIcon {
  width: 3vw;
  height: auto;
  position: absolute;
  right: 0;
  bottom: -1vw;
  border: 0.1vw dashed var(--primary-color);
  border-radius: 100%;
  padding: 0.2vw;
}

@media screen and (max-width: 870px) {
  .postsContainer {
    flex-direction: column;
    /* background-color: #9b86fe; */
    width: 70vw;
  }

  .postItem {
    width: 100%;
  }

  .storyImage {
    width: 100%;
  }

  .StoryIcon {
    width: 12vw;
  }

  .head2 {
    font-size: 4vw;
  }
  .btnPrimary {
    padding-top: 1.7vw;
    padding-bottom: 1.7vw;
    border-radius: 1.2vw;
    width: 26vw;
    font-size: 3vw;
  }

  .serviceText2 {
    font-size: 4vw;
    line-height: 6vw;
  }
}
