/**
 * commons
 *
 * @format
 */

.header {
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 50vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.843);
  /* top: 20vw; */
  padding-top: 10vw;
}

.containerWidth {
  width: 99vw;
}

.line1 {
  color: white;
  font-size: 1.2vw;
  font-weight: 300;
}

.alignCenter {
  text-align: center;
}

.head1 {
  font-size: 3.8vw;
  font-weight: 700;
}

.normal {
  font-weight: 100;
}

/* Primary */
.contentContainerColumn {
  width: clamp(58rem,80vw,80rem);
  flex-direction: column;
  margin-bottom: 1rem;
  display: flex;
  margin-top: 3rem;
  align-self: center;
}

.contentContainerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.heading1 {
  font-size: 2.6rem;
  font-weight: 700;
}
.loopcontent {
  height: auto;
  position: relative;
  color: black;
  font-size: 12px;
  line-height: 1.2rem;
  font-weight: 300;
  text-align: center;
  padding: 15px;
  border: 2px dashed #f481ba;
  border-top: none;
  border-radius: 13px;
}
.text1 {
  font-size: 1.5rem;
}
.text2 {
  font-size: var(--content-text);
}

.loopImg {
  width: 40rem;
}

.codeImg {
  width: 26rem;
}

.meetingImg {
  width: 33rem;
}


.lgHeadingWidth {
  width: 39rem;
}

/*  contact container styles */

.devSection {
  margin-bottom: 3vw;
  margin-top: 8vw;
  background-color: black;
  width: 80vw;
  height: 20vw;
  gap: 0.5vw;
  display: flex;
  /* flex-direction: column; */
  padding: 2vw;
  justify-content: center;
}

.devContentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  width: 35vw;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}

.intrgrationCard {
  font-weight: 700;
  color: black;
  background-image: linear-gradient(to bottom, #ff88c385, #9c86fe7f);
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5vw;
  width: 56vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

.contactCard1 {
  display: flex;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  width: 15vw;
}
.contactCard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  color: black;
  background-color: #8fd5cc;
  border-radius: 2vw;
  height: 5vw;
  width: 15vw;
}
.servieText {
  font-size: 1vw;
  color: white;
  line-height: 1.8vw;
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}
.imgMin {
  width: 1vw;
  height: auto;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  background: white;
  border-radius: 1vw;
  padding: 2vw;
  width: 34vw;
  height: 24vw;
  border: 0.1vw solid #d5d5d5;
}
.inputItem {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.contactInput {
  width: 14.5vw;
  height: 3vw;
  /* border-radius: 0.5vw; */
  padding-left: 0.5vw;
  color: black;
  font-size: 1.2vw;
  /* background-color: #EBEBEB; */
  border-bottom: 0.1vw solid #c9c9c9;
}

.contactInput::placeholder {
  font-size: 0.9vw;
}
.code2{
    width: 25rem;
  }
.devCover {
  width: 55rem;
}

.devCode {
  width: clamp(50rem,60vw,60rem);
}
.contactTextArea {
  width: 30.3vw;
  height: 12vw;
  /* border-radius: 0.5vw; */
  padding-left: 0.5vw;
  color: black;
  font-size: 1.2vw;
  padding-top: 1vw;
  border-bottom: 0.1vw solid #c9c9c9;
}
.contentWidth {
  width: 43vw;
}

.btnSignup {
  color: white;
  border: 0.2vw solid white;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 0.7vw;
  font-weight: bold;
  font-size: 1vw;
}
@media screen and (max-width: 950px) {
  .code2{
    width: 20rem;
  }
  .loopImg {
  width: 40rem;
}
  .contentContainerColumn {
  width: clamp(20rem,99vw,45rem);
}
  .devCover {
    width: 25rem;
  }

  .btnSignup {
    font-size: 2.6vw;
    border-radius: 1.7vw;
  }

  .contentWidth {
    width: 100%;
  }

  .devCode {
    width: 80vw;
  }

  .contentContainerRow {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .LgImages {
    width: 75vw;
    align-self: center;
  }
  .text1 {
    font-size: var(--lg-text-mob);
  }
  .text2 {
    font-size: var(--content-text-mob);
    line-height: 4.2vw;
  }
  .heading1 {
    font-size: var(--section-heading-mob);
  }
 .headingWidth{
  margin-left: 1.5rem;
 }
  .lgHeadingWidth {
    width: 61vw;
  }

  .containerWidth {
    width: 100vw;
  }

  /* CONTACT CONTAIENR STYLES */

  .devSection {
    flex-direction: column;
    background: none;
    height: auto;
    background: black;
    width: 100vw;
    margin-top: 10vw;
    margin-bottom: 0;
  }

  .loopcontent {
    font-size: 10px;
    line-height: 1rem;
    color: black;
    text-align: justify;
  }

  .devContentContainer {
    width: 80vw;
    gap: 2.5vw;
  }

  .formContainer {
    width: 80vw;
    height: 75vw;
    margin-top: 4vw;
  }
  .contactInput::placeholder {
    font-size: 2.8vw;
  }
  .contactInput {
    font-size: 2.8vw;
    width: 100%;
    height: 6vw;
    margin-top: 3vw;
    padding-bottom: 2vw;
  }
  .contactCard1 {
    font-size: 5vw;
  }
  .contactTextArea {
    margin-top: 3vw;
    font-size: 2.8vw;
    width: 100%;
    height: 22vw;
  }
  .contactTextArea::placeholder {
    font-size: 2.8vw;
  }

  .formButton {
    align-self: flex-end;
    font-size: 2.8vw;
    font-weight: bold;
    height: 8vw;
    width: 21vw;
    color: white;
    background-color: rgb(255, 136, 195);
  }

  .imgMin {
    width: 2.8vw;
  }
  /*  -----------*/
}
