

/*  commons  */

.header {
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 50vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.843);
  /* top: 20vw; */
  padding-top: 10vw;
}

.line1 {
color: white;
font-size: 1.2vw;
font-weight: 300;
}

.alignCenter {
text-align: center;
}

.head1 {
font-size: 3.8vw;
font-weight: 700;
}

.normal {
font-weight: 100;
}

/* Primary */
.contentContainerColumn {
width: 75vw;
flex-direction: column;
  margin-bottom: 1vw;
  display: flex;
  margin-top: 3vw;
  align-self: center;
}

.contentContainerRow{
  display: flex; justify-content: space-between;
}

.heading1{
font-size: var(--section-heading);
font-weight: bold;
}

.text1{
  font-size: var(--lg-text);
}
.text2{
  font-size: var(--content-text);
}
.Awslamdatext{
  font-size: clamp(0.5rem,1vw,2rem);
  width: clamp(20rem,50vw,121.875rem);
}



/*  contact container styles */

.devSection {
  margin-bottom: 3vw;
  margin-top: 8vw;
  background-color: black;
  width: 79vw;
  height: 20vw;
  gap: 0.5vw;
  display: flex;
  /* flex-direction: column; */
  padding: 2vw;
  justify-content: center;
}

.devContentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  width: 35vw;
}

.flexCol{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}

.headerrImg{
  color: transparent;
  color: transparent;
  width: 51.5vw;
  height: auto;
  align-self: center;
  position: relative;
  z-index: 1;
  left: 24vw;
  margin-bottom: 7vw;
  margin-top: 13vw;
}

.intrgrationCard{
  
    font-weight: 700;
    color: black;
    background-image: linear-gradient(to bottom, #ff88c385, #9c86fe7f);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vw;
    width: 56vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
  
}

.contactCard1{
  display: flex;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  width: 15vw;
}
.contactCard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  color: black;
  background-color: #8fd5cc;
  border-radius: 2vw;
  height: 5vw;
  width: 15vw;
}
.servieText {
  font-size: 1vw;
  color: white;
  line-height: 1.8vw;
}
  
.flexRow {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}
.imgMin {
  width: 1vw;
  height: auto;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  background: white;
  border-radius: 1vw;
  padding: 2vw;
  width: 34vw;
  height: 24vw;
  border: .1vw solid #d5d5d5;
}
.inputItem {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.contactInput {
  width: 14.5vw;
  height: 3vw;
  /* border-radius: 0.5vw; */
  padding-left: 0.5vw;
  color: black;
  font-size: 1.2vw;
  /* background-color: #EBEBEB; */
  border-bottom: 0.1vw solid #c9c9c9;
}

.contactInput::placeholder {
  font-size: 0.9vw;
}

.contactTextArea {
  width: 30.3vw;
  height: 12vw;
  /* border-radius: 0.5vw; */
  padding-left: 0.5vw;
  color: black;
  font-size: 1.2vw;
  padding-top: 1vw;
  border-bottom: 0.1vw solid #c9c9c9;
}


.heading1{
  font-size: var(--section-heading);
  font-weight: bold;
}

.refactorContainer{
  padding-bottom: 15vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 99vw;
  background-color: #0d1117;
}

.cardContainer{
  color: transparent;
  width: 80vw;
  height: auto;
  margin-top: 1vw;
  margin-bottom: 2vw;
  position: relative;
  top: -20.5vw;
}

.flexRow{
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}
.scalableImg{
  color: transparent;
  width: 50vw;
  height: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
}


.sideBanner{
  color: transparent;
  width: 90vw;
  height: auto;
  align-self: start;
  position: relative;
  left: -9vw;
  margin-top: 2vw;

}

.numberStyles{
  font-size: 5vw;
  opacity: 0.1;
  font-weight: bold;
  /* color: #9B86FE; */
  line-height: 4vw;

}

.headingmin{

  color: black;
}
.mainHeadingLg{color: black;
  text-align: center;
  width: 60vw}


  .codeImg{
    color: transparent;
    width: 40vw;
    height: auto;
  }

  .flowImg{
    color: transparent;
  width: 32vw;
  height: auto;
  }

  .microCard{
    color: transparent;
    width:50vw;
    height: auto;
    align-self: center;
  }
@media screen and (max-width: 870px) {
    .microCard{
width: 100%;
}
  .sideBanner{
    margin-top: 10vw;
  }

  .numberStyles{
    font-size: 11vw;
    line-height: 13vw;

  }

  .flowImg{
    width: 80vw;
  }

  .codeImg{
    width: 80vw;
  }

  .headingmin{
    width: 80vw;
    text-align: center;
  }

  .mainHeadingLg{
    width: 80vw;
  }

  .scalableImg{
    width: 80vw;
  }

  .text1{
    font-size: var(--lg-text-mob);
  }
  .text2{
    font-size: var(--content-text-mob);
    line-height: 4.2vw;
  }
  .heading1{
    font-size: var(--section-heading-mob);
      }

      .flexRow{
        flex-direction: column;
        gap: 14vw;

      }
      .btnSignup {
        font-size: 2.6vw;
        border-radius: 1.7vw;
        height: 8vw;
        width: auto;
        border: .15vw solid white;
      }
      /* Contact Styles  */

      .devSection{
        flex-direction: column;
        background: none;
      }
      
      .servieText {
        font-size: 2.8vw;
        line-height: normal;
    
      }
    
      .devContentContainer{
        width: 80vw;
        gap: 2.5vw;
      }
    
      .formContainer{
        width: 80vw;
        height: 75vw;
        margin-top: 4vw;
    
      }
      .contactInput::placeholder {
        font-size: 2.8vw;
      }
      .contactInput{
        font-size: 2.8vw;
        width: 100%;
        height: 6vw;
        margin-top: 3vw;
        padding-bottom: 2vw;
      }
    
      .contactTextArea{
        margin-top: 3vw;
        font-size: 2.8vw;
        width: 100%;
        height: 22vw;
      }
      .contactTextArea::placeholder{
        font-size: 2.8vw;
      }
    
      .formButton{
        align-self: flex-end;
        font-size: 2.8vw;
        font-weight: bold;
        height: 8vw;
        width: 21vw;
        color: white;
        background-color: rgb(255, 136, 195);
      }
    
    .imgMin{
    width: 2.8vw;
      }
      .contactCard1{
        font-size: 5vw;
        }

        .btnContainer{
          margin-bottom: 0;
        }
      /* -------- */


      .refactorContainer{
        margin-top: 6vw;
      }
}